.board {
  background-color: gray;
  width: 500px;
  height: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, 25%);
  // grid-column-gap: 10px;
  // grid-row-gap: 10px;

  .item1 {
    background-color: red;
  }
  .item2 {
    background-color: grey;
  }
  .item3 {
    background-color: blue;
  }
  .item4 {
    background-color: green;
  }
}
